body {
	background-image: url("../images/train.jpeg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.page-header {
	padding: 0 290px;
	border-bottom: none;
}

h2 {
	text-align: center;
	font-weight: bold;
	padding: 1% 0;
	font-family: 'Alfa Slab One', cursive;
	text-shadow: 4px 4px 4px #aaa;
	letter-spacing: 3px;
}

table {
	width: 100%;
	font-size: large;
	color: #ccc;
}

.displays {
    padding: 30px;
    border: 10px solid #ccc;
    background-color: #222;
    border-radius: 30px;
    box-shadow: 0 0 12px 4px #000 inset;
}

div.activity {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #250000;
    position: relative;
    top: 33px;
    left: -15px;
}

div.activity.active {
    background-color: #f00;
}

form {
	position: relative;
	bottom: 0;
	padding: 20px 20px;
	border-radius: 5px;
	margin-top: 2%;
	margin-bottom: 1%;
	left: 0;
	width: 100%;
	font-family: 'Graduate', cursive;
	font-weight: bold;
	background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
}

.row {
	margin: 0;
}

.form-group {
	display: inline-block;
	margin: 0 1%;
}

#add-train, #reset {
	margin-top: 10%;
}

#canvas {
	background-color: transparent;
	margin: 0 43%;
}